<section class="gallery container">
    <a href="#">
      <img src="https://picsum.photos/300/250?random=1">
      <div class="text">
        Slide 01<br>
        <span>Awesome description</span>
      </div>
    </a>
    <a href="#"><img src="https://picsum.photos/300/250?random=2">
      <div class="text">Slide 02</div>
    </a>
    <a href="#"><img src="https://picsum.photos/300/250?random=3">
      <div class="text">Slide 03</div>
    </a>
    <a href="#"><img src="https://picsum.photos/300/250?random=4">
      <div class="text">Slide 04</div>
    </a>
    <a href="#"><img src="https://picsum.photos/300/250?random=5">
      <div class="text">Slide 05</div>
    </a>
  </section>