<div class="container">

    <div class="row" id="block1">
      <div class="col-md-5 col-lg-6 animated" id="block1__photo">
        <img src="assets/cesar.JPG" alt="Django Reinhardt - William P. Gottlieb" />
      </div><br><br><br>
      <!-- /.col-md-5 col-lg-6 #block1__photo -->
  
      <div class="col-md-7 col-lg-6 animated" id="block1__elements">
  
        <div class="row" style="display:none;">
          <div class="col-md-12 text-right">
            <i class="fa fa-volume-up" aria-hidden="true" id="sound-icon"></i>
          </div>
          <!-- /.col-md-12 text-right -->
        </div>
        <!-- /.row -->
  
        <div class="row" id="block1__elements__text">
          <div class="col-lg-3 col-xl-2">
  
          </div>
          <!-- /.col-lg-3 col-xl-2 -->
  
          <div class="col-lg-9 col-xl-10">
            <h1>Django<br>Reinhardt</h1>
            <h2>The <span class="mark-block">most astonishing</span> guitar&nbsp;player ever.</h2>
            <p>Jean "Django" Reinhardt was a Belgian-born French jazz guitarist and composer of Romani ethnicity, regarded as one of the greatest musicians of the twentieth century, having written nearly 100 songs.</p>
            <p>He was the first and most significant jazz talent to&nbsp;emerge from Europe.</p>
          </div>
          <!-- /.col-lg-9 col-xl-10 -->
        </div>
        <!-- /.row #block1__elements__text -->
  
      </div>
      <!-- /.col-md-7 col-lg-6 #block1__elements -->
    </div>
    <!-- /row #block1 -->
  
    <div class="row" id="block2">
      
      <div class="push-lg-8 col-md-5 col-lg-4 animated" id="block2__photo">
        <img src="assets/23.JPG" alt="Django Reinhardt" />
      </div>
      <!-- /.push-lg-8 col-md-5 col-lg-4 text-center #block2__photo -->
  
     <div class="pull-lg-4 col-md-7 col-lg-8 animated" id="block2__text">
        <h2>The 3 fingered-guitar player</h2>
        <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/1220116/line-green.png" alt="Graphic separator" id="block2__text__line" />
        <p>Despite having two of his fingers disabled from a fire, he overcame the&nbsp;handicap and went on to forge an entirely new style of jazz guitar technique (sometimes called 'hot' jazz guitar), which has since become a living musical tradition within French Gypsy culture. </p>
  
        <p>Benny Goodman asked him to travel with his band, which he never did, but he did tour the U.S. with Duke Ellington's band in 1946. He died suddenly of a stroke at age 43.</p>
  
        <p>Many guitar players and other musicians have expressed admiration for Reinhardt or have cited him as a major influence. Jeff Beck described Reinhardt as "by far the most astonishing guitar player ever" and "quite superhuman".</p>
      </div>
      <!-- /.pull-lg-4 col-md-7 col-lg-8 #block2__text -->
      
    </div>
    <!-- /row #block2 -->
  
    <div class="row" id="block3">
      <div class="col-md-5 col-lg-4 text-center animated" id="block3__photo">
        <img src="assets/26.JPG" alt="Django Reinhardt" />
      </div>
      <!-- /.col-md-5 col-lg-4 text-center #block3__photo -->
  
      <div class="col-md-7 col-xl-8 animated" id="block3__text">
        <h2>World War II</h2>
        <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/1220116/line-blue.png" id="block3__text__line" alt="Graphic separator" />
        <p>Because Reinhardt and his family were Gypsies, and he was also a jazz musician, he tried to escape from occupied France with his family. After his first attempt, he survived when a secretly jazz-loving German, Luftwaffe officer Dietrich Schulz-Köhn,
          let him go back to France after he was captured.</p>
  
        <p>During the occupation of France, Reinhardt continued playing and composing. One of his songs, "Nuages," became an unofficial anthem in Paris to signify hope for liberation. One day at a concert, the popularity of the song was such that the crowd
          made him replay the song three times in a row.</p>
      </div>
      <!-- /.col-md-7 col-xl-8 #block3__text -->
    </div>
    <!-- /row #block3 -->
  
    <div class="row animated" id="button-more">
      <div class="text-center" id="button-more__block">
      <a class="btn btn-lg" role="button" href="https://en.wikipedia.org/wiki/Django_Reinhardt" title="Read more about Django" rel="external nofollow" target="_blank"></a>
      </div>
    </div>
    <!-- /.row animated #button-more -->
  
  </div>
  <!-- /.container -->
  
  <footer id="footer-by">
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-6 source text-left">
          <p> <a href="https://en.wikipedia.org/wiki/Django_Reinhardt" rel="external nofollow" class="footer-by__footer__link"></a></p>
        </div>
        <!-- /.col-sm-6 text-center -->
        <div class="col-sm-6 text-right" id="footer-by__footer__social">
          
        </div>
        <!-- /.col-sm-6 text-right #footer-by__footer__social -->
      </div>
      <!-- /.row -->
    </div>
    <!-- /.container -->
  </footer>
  <!-- /#footer-by -->
