<div class="  bg-light "   >
    
  <app-inicio></app-inicio>
</div>


<div class="  bg-light "   >
    
  <app-segundo></app-segundo>
</div>

<div class="  bg-light "   >
    
  <app-enmedio></app-enmedio>
</div>

<div class="  bg-light "   >
    
  <app-tercero></app-tercero>

</div>

<div class="  bg-light "   >
    
  <app-cuarto></app-cuarto>
  
</div>

<div class="  bg-light "   >
    
  <app-quinto></app-quinto>
  
</div>

<div class="  bg-light "   >
    
  <app-sexto></app-sexto>
  
</div><br><br><br><br>

<div class="  bg-light "   >
    
  <app-footer></app-footer>
  
</div>

<div class="  bg-light "   >
    
  <app-ultimo></app-ultimo>
  
</div>

<div class="  bg-light "   >
    
  <app-footer2></app-footer2>
  
</div>

