
*{
    overflow-y: hidden;
    overflow-x: hidden;
    font-family: 'Poppins', sans-serif;
    
    }
    

  
  
  .i-plain:hover {
      color:rgb(19, 158, 250);
      
      transition: .6s ease;
           -moz-transition: .6s ease; /* Firefox */
           -webkit-transition: .6s ease; /* Chrome - Safari */
           -o-transition: .6s ease; /* Opera */
           transform: scale(1.2); 
  }
  .i-plain2:hover {
     
      color:rgb(19, 158, 250);
      transition: .6s ease;
           -moz-transition: .6s ease; /* Firefox */
           -webkit-transition: .6s ease; /* Chrome - Safari */
           -o-transition: .6s ease; /* Opera */
           transform: scale(1.2); 
      
      
     
       
  }
  .btn-outline-primary:hover {
      background-color: transparent;
      color:rgb(19, 158, 250);
  }
  
  .text-primary, .text-primary-hover:hover {
      
      transform: scale(1.2); 
  }
  
  /* header */
  
  @keyframes tipsy {
      0%{
  
        transform: translateX(-50%) translateY(-50%) rotate(0deg);
  
      }
      
      100% {
  
        transform: translateX(-50%) translateY(-50%) rotate(360deg);
  
      }
    }
    
    body {
      font-family: Georgia, 'Times New Roman', Times, serif;
      background-color: #2e2e31;
    }
    
    .rotula {
      color: #f5f5f8;
      text-shadow: 0 20px 25px #2e2e31, 0 40px 60px #2e2e31;
      font-size: 50px;
      font-weight: bold;
      text-decoration: none;
      letter-spacing: -3px;
      margin: 0;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translateX(-50%) translateY(-50%);
      
    }
    
    .rotula:before,
    .rotula:after {
      content: '';
      padding: .9em .4em;
      position: absolute;
      left: 50%;
      width: 100%;
      top: 50%;
      display: block;
      border: 15px solid red;
      transform: translateX(-50%) translateY(-50%) rotate(0deg);
      animation: 10s infinite alternate ease-in-out tipsy;
    }
    
    .rotula:before {
      border-color: #e4f5fd #e4f5fd rgba(0, 0, 0, 0) rgba(0, 0, 0, 0);
      z-index: -1;
    }
    
    .rotula:after {
      border-color: rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) #e4f5fd #e4f5fd;
      box-shadow: 25px 25px 25px rgba(46, 46, 49, .8);
    }
  
    .altura{
      height: 400px;
      width: 600px;
      
    }


