<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,500;0,600;0,700;1,300;1,400&display=swap" rel="stylesheet">
<link rel="stylesheet" href="inicio.component.css">

<!-- NAVBAR -->

  
<nav id="color2" class="navbar navbar- p-1 navbar-expand-lg  bg-white bg-opacity-75   navbar-togglable fixed-top navbar-scroll " >

  
     
  <div class="container " >

    <!-- Navbar brand (mobile) -->
    
    <a class="navbar-brand nav d-lg-none  "  routerLink="/footer"><img class="animate__animated animate__backInLeft " src="assets/favicon.png" style="width:50px; max-width:9vw; height:auto;" viewBox="0 0 36 24"></a>
    <a class="navbar-brand d-none d-lg-flex mx-lg-auto" href="./index.html">
      <img class="animate__animated animate__backInLeft img-fluid" src="assets/favicon.png" style="width:60px; max-width:5vw; " viewBox="0 0 36 24">
    </a> 

    <!-- Navbar toggler -->
    <button class="navbar-toggler  bg-opacity-50" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Navbar collapse -->
  
    <div class="collapse navbar-collapse  " id="navbarCollapse">

      <!-- Navbar nav -->

            
      <ul id="estilo "class="navbar-nav navbar-white ">

      
                            
        
        
        
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        
    
         

      </ul>
      
      <!-- Navbar brand -->
      
          
      <!-- Navbar nav -->
      <ul class="navbar-nav navbar-black ">
        
        <li class="nav-item">
          <a class="nav-link ooo i-plain2  " style="font-size: 17px;"  href="javascript:void(0)"> INICIO &nbsp; &nbsp;  &nbsp;      </a>
        </li>
        <li class="nav-item  ">
          <a class="nav-link ooo i-plain2 " style="font-size: 17px;" href="https://landing.ballhausen.mx/desarrollo-de-proyectos-de-alta-especificacion-a-la-medida/">PROYECTOS &nbsp;  &nbsp;</a>
        </li>
        <li class="nav-item">
          <a class="nav-link ooo i-plain2 " style="font-size: 17px;"  href="https://landing.ballhausen.mx/productos/">PRODUCTOS &nbsp;  &nbsp;</a>
        </li>
        <li class="nav-item">
          <a class="nav-link  ooo i-plain2 " style="font-size: 17px;" href="https://landing.ballhausen.mx/servicio-de-rehabilitacion-de-componentes/">SERVICIOS</a>
        </li>
        
      </ul>

    
    </div> 
 
  </div>
 </nav>



<!-- WELCOME -->

<div class=" bi  justify-content-around" data-jarallax data-speed=".8" style="height:100%; background-size: cover; background-repeat: no-repeat;  background-image: url('https://images.pexels.com/photos/256381/pexels-photo-256381.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');  "  >
  
  
  
  
   
  
  <div class="d-flex flex-column min-vh-100 bg-black-50 pt-10 pt-md-8 pb-7 pb-md-0 ">
    <div class=" my-auto">

      <div class="row  ">
        <div class=" col-lg-6  text-center ">

         

        </div>


        <div class="  d-lg-block col-lg-6  text-center  no  " > 
            <h6 class=" text-white text-start ">
                <p class="animate__animated animate__backInLeft "  style="font-size: 55px;"> <br><br>SISTEMA <br>DE <br>VIBRACIONES </p><br><br> 
                <h5 class="animate__animated animate__zoomInDown animate__delay-2s" > INNOVANDO PARA TI</h5><br><br>
                <img  class="text-center"   src="assets/logo2dark.png" alt="">
                  
              </h6> 
         

          
        </div>
      </div><br><br>
   



      
      <div class="row align-items-end d-flex">
        <div class="col-12 h-25"></div>
        <div class="col-lg-6  col-12  align-items-center pt-3">

          <!-- Social links -->
          <ul class="list-inline text-center text-center mb-3 my-md-5 ">

            

            <li class="list-inline-item ms-5">
              <a class="text-white"  target="_blank" href="https://www.facebook.com/ballhinge?refid=52">
                <i class="fa a-facebook-f i-plain fa-2x  animate__animated animate__fadeInUpBig"></i>
              </a>
            </li>


            <li class="list-inline-item ms-5  ">
              <a class="text-white " target="_blank" href="https://www.instagram.com/ballhauseningenieria">
                <i class="fa a-instagram fa-2x i-plain tada  animate__animated animate__fadeInUpBig"  ></i>
              </a>
            </li>
            

            <li class="list-inline-item ms-5   ">
              <a class="text-white"  target="_blank" href="https://mx.linkedin.com/company/ballhausen-ingenier%C3%ADa">
                <i class="fa a-linkedin fa-2x i-plain  animate__animated animate__fadeInUpBig"  ></i>
              </a>
            </li>

            

          </ul>

        </div>
        
        <div class=" col-12 col-lg-6 pt-3  text-center">
      
          <!-- Address -->
          <p class="font-serif text-white  align-items-end text-center  my-md-5 animate__animated animate__fadeInUpBig">
            <i class=" text-primary me-3 animate__animated animate__fadeInUpBig "></i>
          </p>
        </div>
      </div>
    </div>
  </div>        




